*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Open Sans', sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  
}
.element{
  width: 400px;
  height: 600px;
  background-color: #34495e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 40px;
  color: white;
  position: relative;
 

}


h1{
  color: #f1c40f;
  font-size: 30px;
  font-weight: 900;
}

.display{
  background-color: #1c2833;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 300px;
  border-bottom: 2px solid #f1c40f;
  display: flex;
  position: relative;


}

.display input{
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  
}


.length-container{
  color: white;
  padding: 13px;
  display:flex ;
  justify-content: space-between;
  width: 300px;
  border-radius: 10px;
}

/* slider--------------- */

.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 300px; 
  height: 15px; 
  background: #f1c40f; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}


.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px;
  background: #f1c40f;
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  background: #f1c40f; 
  cursor: pointer;
}  


/* checkbox-- */

.check-box{
  width: 300px;
  display: flex;
  flex-direction: column;
}


.strength{
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

.strength button{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #f1c40f;
  border: none;
  cursor: auto;
}

#btn{
  background-color: #f1c40f;
  padding: 10px;
  color: #34495e;
  width: 250px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-top:15px ;
  cursor: pointer;
  border-bottom: 3px solid #1c2833;
}

#btn:hover{
  background-color:#e67e22 ;
}


.glowing-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9C1919;
  box-shadow: 0 0 6px 3px #FFFFFF, 0 0 10px 6px #B400FF,
}


#copy-msg{
  /* background-color: #f1c40f; */
  border-radius: 10px;
  /* border: 1px solid rgb(141, 148, 40); */
  border: none;
  position: absolute;
  top: -10px;
  padding: 2px;
}


